@model EasyHosts.Terminal.Models.ViewModels.ErrorViewModel
@{
    ViewBag.Title = "Erro 404";
}

<main>
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="card p-5">
            <div class="text-center">
                <h1 class="display-1 fw-bold">404</h1>
                <p class="fs-3"> <span class="text-danger">Opps!</span> Página não encontrada.</p>
                <p class="lead">
                    @Model.Message
                    @Model.RequestId
                </p>
                @Html.ActionLink("Voltar ao Menu", "Index", "Terminal", new { area = "" }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</main>

