@model EasyHosts.Terminal.Models.ViewModels.ErrorViewModel
@{
    ViewBag.Title = "Erro 404";
}

<main>
    <div class="d-flex justify-content-center col-sm-12 col-md-12 col-lg-12">
        <div class="card border-danger m-5">
            <div class="card-header text-center"><h1 class="text-danger m-2">404 <i class="bi bi-exclamation-triangle text-danger"></i></h1></div>
            <div class="card-body text-danger">
                <p class="card-text"><h2 class="m-2">Mensagem: @Model.Message</h2></p>
            </div>
        </div>
    </div>
</main>

