@model EasyHosts.Terminal.Models.Event
@{
    ViewBag.Title = "Detalhes do Evento";
}

<h2>DetalhesEvento</h2>



<div class="card mb-3">
    <div class="card-body position-relative">
        <div class="row">
            <div class="col-lg-8">
                <h3>Detalhes do Evento</h3>
                <p class="mb-0">Visualização dos detalhes.</p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <div class="row flex-between-end">
            <div class="col-auto align-self-center">
                <h5 class="mb-0">Informações</h5>
            </div>
        </div>
    </div>
    <div class="card-body bg-light">
        <div class="tab-content">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayFor(model => model.NameEvent)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Id)
                </dd>

            </dl>
            <div>
                @Html.ActionLink("Voltar", "Quartos", "Terminal", new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
</div>



