
@{
    ViewBag.Title = "Index";
}

<header class="row">
    <div class="col-md-12">
        <h1 class="text-lg-center mt-1"><strong>Easy Hosts</strong></h1>
    </div>
    <p class="text-lg-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam</p>
</header>


<main class="d-flex justify-content-center">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://picsum.photos/380/540" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://picsum.photos/380/540" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://picsum.photos/380/540" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</main>



<footer class="row d-flex">
    <div class="col-md-12 text-center mt-3">
        @Html.ActionLink(">", "Menu", "Home", new { area = "" }, new { @class = "btn btn-dark p-2 rounded-2" })
    </div>
</footer>

